<a href="https://colab.research.google.com/github/Tanvi-Gajula/Projects/blob/main/Data_Transformation_and_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Tanvi Gajula
Reg no: 21MIA1076

1)Using data transformation function or mapping display the items and its quantity

In [ ]:
import pandas as pd
#Transforming Data Using a Function or Mapping
data = pd.DataFrame({'ITEMS': ['BAG', 'BOOK', 'BOTTLE',
'PEN'],
'QUANTITY': [4, 3, 12, 6]})
data

    ITEMS  QUANTITY
0     BAG         4
1    BOOK         3
2  BOTTLE        12
3     PEN         6

2)Convert the items to lowercase by data tranformation function

In [ ]:
#convert each value to lowercase using the str.lowerl
lowercased = data['ITEMS'].str.lower()
print(lowercased)

0       bag
1      book
2    bottle
3       pen
Name: ITEMS, dtype: object

3)Replace the quantity of bottle by nan

In [ ]:
import numpy as np
#Replacing Values
data.replace(12, np.nan)

    ITEMS  QUANTITY
0     BAG       4.0
1    BOOK       3.0
2  BOTTLE       NaN
3     PEN       6.0

4)Label the row items and column rows of shops and transform the row index to uppercase

In [ ]:
#Renaming Axis Indexes
#Like values in a Series, axis labels can be similarly transformed by a function or map‚Äêping of some form to produce new, differently labeled objects.
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
index=['Tops', 'jeans', 'frok'],
columns=['Row1', 'Row2', 'Row3', 'Row4'])
data
#indexes mapping method
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['TOPS', 'JEAN', 'FROK'], dtype='object')

5)Map the items in different rows with its quantity in each row in a shop for selling

In [ ]:
#can assign to index, modifying the DataFrame in-place
data.index = data.index.map(transform)
data

6)Existence duplicates

In [ ]:
#importing pandas and numpy
import pandas as pd
import numpy as np

In [ ]:
#creating data frame using pandas
data = pd.DataFrame({'K1':['one','two']*3+["two"],
                    'K2':[1,1,2,3,3,4,4]})
data
#using duplicate function to check whether there is existence of duplicate value
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

7)Removing of duplicates

In [ ]:
#by drop_duplicates function we can remove the duplicates from data 
data.drop_duplicates()

    K1  K2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

8)String Manipulation Using split function

In [ ]:
#using quotes for string
val = 'a,b, amit'
#by using split function we can convert the string into list
#but in this split function space also count which are present in the actual string
val.split(",")

['a', 'b', ' amit']

9)Use the strip function for the above string and observe the output

In [ ]:
#same output by using strip but only difference is that we ignore the space
k = [x.strip() for x in val.split(",")]
k

['a', 'b', 'amit']

10)concatenate above string with double colon

In [ ]:
first,second,third =k
#using the concatenate function
first+"::"+ second+"::" + third

'a::b::amit'

11)Use the replace function in string

In [ ]:
#using replace function in string
val.replace(",","")

'ab amit'

12)Use the function of regular expression

In [ ]:
import re
#import regular expression
#when we want to split the string with the variable number of whitespace character
text = "foo   bar\tbaz \tqux"
re.split("\s+",text)

['foo', 'bar', 'baz', 'qux']